
<!-- INTERPOLATION -->

<!-- //we can use data present in app component by adding double flower brase to the varible declared in app component -->

<!-- we can use both varible as well as function -->

<!-- NOTE: WE CANT PERFORM OPERATION ON VARIBLE OF APP COMPONENTS -->

<!-- <h1>{{header}}</h1>
<h2>{{getfun()}}</h2>
<h3> this is very thiklu type</h3>
<app-login></app-login>
<app-login></app-login>
<app-login></app-login>
<app-sign-in></app-sign-in> -->
<!-- we generate components using ng g c <component>  -->
  <!-- then this components specified tags are used to write respective html code in main html  -->

  <!-- <app-login></app-login> -->


  <!-- some of the events in angular and how to impliment them -->

<!-- step1: writing function in app.cpmponents file
step2: use any event and call the function by passing parameter in following way
step3 : always know about how get the value using #b1 ect..  here # indicates that it is id -->

  <!-- <button (click) = "getdata('btn clicked')">click</button>

  <br>
  <input type="text" #b1  (keyup) = "getdata(b1.value)"  placeholder="enter for keyup event">
  <br>
  <input type="text" #b2 (keydown) = "getdata(b2.value)" placeholder="enter for keydown event">
  <br>
  <input type="text" #b3 (input) = "getdata(b3.value)" placeholder="enter for input event">
  <input type="text" #b4 (blur) = "getdata(b4.value)" placeholder="enter for blur event">

  <h1 (mouseover)= "getdata('over')">mouseover event</h1>
  <h1 (mouseleave)= "getdata('leave')">mouseleave event</h1> -->

  <!-- seeing advantage of events , interpolation , and functions in angular -->

  <!-- printing what we type on screen on screen -->

  <!-- <br>
  <input type="text" #b1  (keyup) = "getdata(b1.value)"  placeholder="enter for keyup event">
  <br>

  <p>{{content}}</p>

  using button  -->

  <!-- note: button can use id of input , means id defined is used universly -->

  <!-- <br>
  <input type="text" #b1    placeholder="enter for keyup event">
  <button (click) = "getdata(b1.value)">click</button>

  <br>

  <p>{{content}}</p> -->

  <!-- making counter with increement and decrement -->

  <!-- <h1>{{count}}</h1>
  <button (click) = "counter('add')">++</button>
  <button (click) = "counter('sub')">--</button> -->


  <!-- diffrent ways to style -->

  <!-- 1) - inline css 
  2) - component css -  means writting app htmls css in app css
  3) - global css -  writting in style css , which is global

  NOTE: WHICH IS NEARER WILL HAVE MORE PRIORITY -->

  <!-- ONE VEDIO PENDING WHICH IS RELATED TO INSTALLING COMPONENT WITHOUT CSS AND WITH CSS -->


<!-- PROPERTY BINDING AND INTERPOLATION USAGE  -->


<!-- PROPERTY BINDING CAN ALLOW BOOLEAN VALUES IN VARIABLE BUT INTERPOLATION WILL NOT ALLOW -->
<!-- IF BOOLEAN IS PASSED TO INTERPOLATION THEN IT WILL CONSIDER IT AS STRING 
 AND ALWAYS RETURN true EVEN THE BOOLEAN Value is falsE -->

<!-- SYNTAX FOR PROPERTY BINDING AND INTERPOLATION -->

 <!-- INTERPOLATION - VAULE = {{NAME}}
 PROPERTY BINDING- [VALUE] = NAME -->


 <!-- IF,ELSE IF,FOR LOOP ,FOR EACH,NESTED LOOP,SWITCH CASE -->

<!-- DIFFRENT WAYS IN WHICH U CAN APPROCH IF ELSE CONDITION -->

 <!-- <h1 *ngIf = "show else elseblock" >

hello everybody!!
 </h1>

 <ng-template #elseblock>
  <h1>this is else block</h1>
 </ng-template> -->

 <!-- <h1 *ngIf = "show; then ifblock else elseblock"></h1>

 <ng-template #ifblock>
  <h1>this is if block</h1>
 </ng-template>

 <ng-template #elseblock>
  <h1>this is else block</h1>
 </ng-template> -->

 <!-- <h1 *ngIf="show">Hello everybody!!</h1>

<ng-template [ngIf]="!show">
  <h1>This is the else block</h1>
</ng-template>

<button (click)="show = !show">Toggle</button> -->

<!-- //MULTIPLE CONDITION CHECKINH LIKE ELSE IF -->

<!-- <ng-template  [ngIf] = "color==='red'">
  <h1>this is red color

  </h1>
</ng-template>
<ng-template  [ngIf] = "color==='green'">
  <h1>this is green color

  </h1>
</ng-template>
<ng-template  [ngIf] = "color==='blue'">
  <h1>this is blue color

  </h1>
</ng-template> -->

<!-- SWITCH CASE -->

<!-- <div [ngSwitch] = 'color'>

  <h1 *ngSwitchCase="'red'"> this is red</h1>
  <h1 *ngSwitchCase="'green'"> this is green</h1>
  <h1 *ngSwitchCase="'blue'"> this is blue</h1>
  <h1 *ngSwitchDefault="'blue'"> this is default color</h1> 

</div> -->

<!-- //FORLOOP -->

<!-- <h1 *ngFor = 'let user of users'>{{user}}</h1> -->

<!-- FORLOOP FOR OBJECTS -->

<!-- <h1 *ngFor = 'let user of users'>
  <h1>{{user.name}}</h1>
  <h1>{{user.num}}</h1>
  <h1>{{user.email}}</h1>
</h1> -->

<!-- NESTED LOOP -->

<!-- NOTE : U SHOULD USE CAMEL CASE FORMATE FOR ALL THIS IF , SWITCH, FOR LOOP ECT, -->

<!-- <ul *ngFor = 'let user of users'>
  <li>{{user.name}}</li>
  <li>{{user.num}}</li>
  <li>{{user.email}}</li>
  <ul *ngFor = 'let ac of user.acc'>
    <li>{{ac}}</li>
  </ul>
</ul> -->

<!-- DYNAMIC STYLING  USING PROPERTY BINDING-->

<!-- <h1 [style.color] = 'color'>this is dynamic style</h1>
<button (click) = 'updateColor()'>change</button> -->

<!-- MAKING BASIC FORM AND ACCESSING IT -->

<!-- <form action="" #basicForm = 'ngForm' (ngSubmit) = 'getdata(basicForm.value)'>
  <input type="text" ngModel name = "name" placeholder="enter ur name">
  <br>
  <input type="text" ngModel name = "emial" placeholder="enter ur email">
  <br>
  <input type="password" ngModel name = "password" placeholder="enter ur password">
  <br>
  <button>Register</button>
</form> -->

<!-- //MAKE TODO LIST -->

<!-- <h1>TODO LIST</h1>

  <br>
  <input type="text" placeholder="enter work" #task>
  <br>
 
  <br>
  <button (click) = 'addlist(task.value)'>Register</button>

  <ul *ngFor = 'let item of list'>
    <li>{{item.name}} <button (click) = 'removelist(item.id)'>remove</button></li>
  </ul> -->

  <!-- TWO WAY BINDING  -  THE PROCESS OF TAKING INPUT ANS PRINTING SIMULTANOOUSLY IS TWO WAY BINDING -->


  <!-- <input type="text" [(ngModel)] = 'name'>
  <h1>{{name}}</h1> -->


  <!-- TEMPLATE REFRENCE VARIABLE  -->

  <!-- BY USING #BOX TEMPLATE REFRENCE VARIABLE WE CAN SEND THE INPUT OF INPUT BOX  -->

  <!-- <input type="text" #box name="name">
  <button (click) = 'getdata(box.value)'></button> -->

  <!-- PIPES -  IT IS SAME AS WE USE IN LINUX  -->
  
  <!-- <h1>{{name | uppercase}}</h1>
  <h1>{{name | lowercase}}</h1>
  <h1>{{name | slice : 3 : 6}}</h1>
  <h1>{{name | slice : 3 : 6 | uppercase}}</h1>
  <h1>{{user | json | uppercase}}</h1>
  eleminate 2 numbers if before if they are zeros and show three numbers after decimals
  <h1>{{num | number: '2.3-3'}}</h1>
  <h1>{{num | currency:'INR'}}</h1> -->

  <!-- passing arguments to date pipe -->
  <!-- <h2>{{time | date : 'fullDate' }}</h2>  -->

  <!-- FORMS IS angular

  1 - TEMPLATE DRIVEN FORM (HANDLE IN HTML )
  2 - REACTIVE FORM(HANDLE IN CLASS) -->

  <!-- 1 - TEMPLATE DRIVEN FORM IS ALREADY DONE WATCH ABOWE -  USING NGMODULE, NGFORM,TEMPLATE VARIABLE,FORMMODULE. -->

  <!-- REACTIVE FORM -->



<!-- <form [formGroup] = 'loginForm' (ngSubmit) = 'loginUser()'>
  <input type="text"  name = "name" placeholder="enter ur name" formControlName = 'user'>
  <br>
  <span style= "color:red" *ngIf = "user && user.invalid && user.touched">please enter valid input</span>
  <br>
  <br>
  <input type="text"  name = "emial" placeholder="enter ur email" formControlName = 'email'>
  <br>
  <span style= "color:red" *ngIf = "email && email.invalid && email.touched">please enter valid input</span>
  
  <br>
  <br>
  <input type="password"  name = "password" placeholder="enter ur password" formControlName = 'password'>
  <br>
  <span style= "color:red" *ngIf = "password && password.invalid && password.touched">please enter valid input</span>
  
  <br>
  <br>
  <button [disabled] = 'loginForm.invalid'>Register</button>
</form> -->

<!-- VALIDATION IN REACTIVE FORM -->

<!-- DIRECTIVES IN ANGULAR -  PROCESS  OF USING DIRECTIVES FOR STYLE ECT PURPOSE -->

<!-- <h1 appStyle> {{name}}</h1> -->


<!-- BASICS OF ROUTING AND DYNAMIC ROUTING  -->

<!-- NOTE:AFTER CREATING MULTIPLE ROUTING , YOU SHOULD HAD THIS ROUTERlINK ELSE WONT WORK. -->

<!-- <h1>basic routing</h1>
<br> -->
<!-- <a routerLink = "">home</a> -->
<!-- <br>
<a routerLink = "header">header</a>
<br>
<a routerLink = "login">login</a>
<br>
<a routerLink = "signin">signin</a>
<br>

<router-outlet></router-outlet> -->


<!-- DYNAMIC ROUTING - PROCESS OF SENDING ARGUMENTS IN URL ROUTE  -->

<!-- <h1>dynamic routing</h1>
<br> -->
<!-- <a routerLink = "">home</a> -->
<!-- <br>
<a routerLink = "user/10">jk</a>
<br>
<a routerLink = "user/20">pk</a>
<br>
<a routerLink = "user/40">ak</a>
<br>
<router-outlet></router-outlet> -->

<!-- <ul><li *ngFor = 'let user of data'>{{user.name}}</li></ul>

<app-header></app-header> -->

<!-- ROUTING OF MODULE OUTSIDE MODULE USING APP.ROUTING 
ROUTING OF MODULE INSIDE MODULE USING ROUTING FILE OF THAT MODLUE 

WE CAN CREATE ROUTING FILE OF THAT MODULE BY USING COMMAND

ng g m user-auth --routing
then as it is -->

<!-- INTERFACE AND MODOLE

INTERFACE IS DECLARAIONG OF DATATYPE FOR ALL VARIBLE USED IN 
COMPONENTS
 
SYNTAX - 
interface userdefined_name = {
  variable_name: datatype,etc
}

note: this is kept in some other file like service file and imported in the file which is using that variable -->


<!-- CHILD ROUTING AND GROUP ROUTING  -->

<!-- //THE PROCESS OF HAVING ROUTING INSIDE A ROUTING AND PROVIDING ROUTELINK FOR BOTH  -->


<!-- BOTH ARE SAME 

{
  PATH:ADMIN,CHILDREN{
    PATH:LOGIN,COMPONENT:COMPONENT ,
    PATH:LIST,COMPONENT:COMPONENT ,

  },

} -->


<!-- PASSING DATA FROM  PARENT TO CHILD APP TO HEADER using passing property binding methos 

<h1 *ngFor = 'let user of users'>
  <app-header [item] = 'user'></app-header>
</h1> -->

<!-- PASSING DATA FROM   CHILD to parent header TO app using function calling process -->

<!-- <app-header (getDataEvent) = 'getdata($event)'></app-header>
<h1>{{user}}</h1> -->


<!-- GET AND POST FROM DATABASE , GET API AND FETCH API. -->

<!-- GET  -->

<!-- <ul *ngFor = 'let data of users'>
  <li>{{data.name}}</li>
</ul> -->

<!-- POST  -->


<!-- <form action="" #basicForm = 'ngForm' (ngSubmit) = 'putuserdata(basicForm.value)'>
  <input type="text" ngModel name = "name" placeholder="enter ur name">
  <br>
  <input type="text" ngModel name = "emial" placeholder="enter ur email">
  <br>
  <input type="password" ngModel name = "password" placeholder="enter ur password">
  <br>
  <button>PUT</button>
</form> -->


<!-- LAZY LOADING EXAMPLE - PROCESS OF LOADING THE FILES OR PAGES WHICH ARE REQUIRED  -->

<!-- <a routerLink = "user-athen/login">login</a>
<br>
<a routerLink = "user-athen/signin">signin</a>
<br>

<br>
<router-outlet></router-outlet>  -->

<!-- TESTING OR AUTOMATION TESTING  USING HEADER COMPONENT -->

